.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 0;
}

.project-box {
  width: 300px;
  height: 300px;
  border: 1.5px solid rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}
.project-box .front {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  transition: all 150ms ease-in-out;
}
.project-box .front * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.project-box .front .img-box {
  width: 100%;
  height: 120px;
}
.project-box .front .img-box .project-img {
  width: 100%;
  height: 100%;
}
.project-box .front .technology-box {
  display: flex;
  padding: 1rem 0.25rem;
}
.project-box .front .technology-box .technology {
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}
.project-box .front .technology-box .technology:not(.technology:last-child) {
  margin-right: 0.35rem;
}
.project-box .front .project-name-box {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.25rem;
}
.project-box .front .project-name-box h2 {
  margin-bottom: 0;
}
.project-box .front .project-name-box h2,
.project-box .front .project-name-box .dots {
  font-size: 1.25rem;
}
.project-box .front .project-name-box:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.project-box .front .goto-box {
  margin-top: auto;
  margin-bottom: 0;
}
.project-box .front .goto-box .goto {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.25rem;
}
.project-box .front .goto-box .goto:nth-child(1) {
  color: #0A9EE6;
}
.project-box .front .goto-box .goto:nth-child(2) {
  color: #9AB081;
}
.project-box .front .goto-box .goto:not(.goto:last-child) {
  margin-right: 1rem;
}
.project-box .front .goto-box .goto:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.project-box .back {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 1rem;
  transition: all 250ms ease-in-out;
  position: relative;
  background-color: white;
}
.project-box .back .project-name-box {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.25rem;
}
.project-box .back .project-name-box:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.project-box .back h2 {
  margin-bottom: 0;
}
.project-box .back h2,
.project-box .back .dots {
  font-size: 1.25rem;
}
.project-box .back h4 {
  color: #0A9EE6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.25rem;
}
.project-box .back p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin: 0;
  padding: 0.25rem;
}

.project-box:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  scale: 1.035;
}

@media only screen and (min-width: 550px) {
  .project-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .project-box {
    margin: 1rem;
  }
}/*# sourceMappingURL=projects.css.map */