.about-me {
    main {
        overflow: hidden;

        .page {
            position: relative;
            min-width: 100%;
            transition: left 1s ease-in-out;
            left: 0;
        }

        .page-1 {
            section:nth-child(1) {
                padding-left: 5rem;
            }
        }

        .page-2 {
            flex-direction: row-reverse;

            .img-box {
                height: 100%;
            }

            section:nth-child(2) {
                padding-left: 5rem;
            }
        }

        .moved-to-left {
            left: -100%;
        }
    }
}

.img-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .img-box {
        display: flex;
        width: 100%;
        height: 50%;
        background-position: center center;
        background-size: cover;
        user-select: none;

        .sub-img-box {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            height: 100%;
            width: 50%;
            background-position: center center;
            background-size: cover;

            div {
                display: flex;
                align-items: center;
                font-family: 'Share Tech', sans-serif;
                text-transform: uppercase;
                background-color: rgba(255, 255, 255, 0.8);
                font-size: 1.5rem;
                padding: 0 1rem;
                height: 2.5rem;
                margin: 0 1rem 1rem 0;
            }
        }

        .sub-img-box:not(.sub-img-box:last-child) {
            margin-right: 1rem;
        }
    }

    .img-box:not(.img-box:first-child) {
        margin-top: 1rem;
    }

    .bg-a {
        align-items: flex-end;
        color: white;

        div {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            padding: 0.5rem;
            background-color: rgba(255, 255, 255, 0.5);
        }

        img {
            height: 2rem;
            width: 2rem;
        }
    }

    .bg-a {
        background-image: url('../img/img-01.jpg');
    }

    .bg-b {
        background-image: url('../img/img-02.jpg');
    }

    .bg-c {
        background-image: url('../img/img-03.jpg');
    }

    .bg-d {
        background-image: url('../img/img-04.jpg');
    }
}

@media only screen and(max-width: 800px) {
    .about-me {
        header {
            justify-content: space-between;

            .pagination {
                margin: 0;
            }
        }

        .page-1 {
            section:nth-child(1) {
                padding-left: 2rem !important;
            }
        }

        .page-2 {
            section:nth-child(2) {
                padding-left: 2rem !important;
            }
        }



        .img-container {
            justify-content: flex-start;

            .bg-a {
                height: 200px;
            }

            .bg-d {
                height: 300px !important;
            }

            .sub-img-box {
                height: 200px;

                div {
                    font-size: 1.15rem;
                }
            }
        }
    }
}

@media only screen and(max-width: 650px) {
    .about-me {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;

        header {
            flex-direction: column;
            align-items: flex-start;

            .pagination {
                .sub-pages {
                    margin: 0;

                    li {
                        margin: 0 !important;
                    }
                }

                .open-btn {
                    scale: 0.55;
                }

                .pagin-btn {
                    scale: 0.65;
                }
            }
        }

        section {
            p {
                max-width: unset !important;
            }
        }

        .page-1,
        .page-2 {
            section:nth-child(2) {
                display: none;
            }

            section:nth-child(1) {
                width: 100%;
            }
        }
    }
}