.dark-mode {

    .switches {
        background-color: black;

        .icon {
            color: rgb(187, 187, 187);
        }

        .icon:hover {
            color: white;
        }

        ul {
            li {
                color: white;
                color: rgb(187, 187, 187);
            }
        }

        .current-language {
            color: black;
        }

    }

    .section {
        background-color: black;

        h2 {
            color: rgb(133, 133, 133);
        }

        h3 {
            color: rgb(133, 133, 133);
        }

        .section-header {
            h3 {
                color: rgb(82, 161, 229);
                color: rgb(187, 187, 187);
            }


        }

        .description {
            color: rgb(82, 161, 229);
        }

        .links .icon {
            color: white;
        }

        .links .icon:hover {
            color: red;
            scale: 1.2;
        }

        .box-footer {
            .icon {
                color: white !important;
            }

            .icon:hover {
                color: red !important;
            }
        }

        .sub-img-box div {
            background-color: rgb(133, 133, 133);
            color: black;
        }
    }

    .hello-everyone {
        background-color: rgba(0, 0, 0, 0.8);

        .section-title {
            color: rgb(164, 215, 164);
        }

        .icon {
            color: rgb(164, 215, 164) !important;
        }

        .boxB:nth-child(2) {
            .icon {
                background-color: rgb(56, 56, 56);
            }
        }

        .boxB:last-child {
            .icon {
                color: rgb(82, 161, 229) !important;
                background-color: rgb(48, 48, 48);
            }
        }
    }

    .showcase {
        background-color: rgb(133, 133, 133);

        h2 {
            color: rgb(187, 187, 187);
        }
    }
}