$size: 10rem;
$margin: 1rem;

.grid-container {
    display: flex;
    width: calc(3 * $size + 2 * $margin);
    height: calc(3 * $size + 2 * $margin);
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(200, 200, 200, 0.5);
        border: 2px solid rgba(0, 0, 0, 0.15);
        width: $size;
        height: $size;
        margin-bottom: $margin;
    }

    .tech-icon {
        width: $size;
        height: $size;
        padding: 1rem;
    }
}

.my-projects {
    .grid-container {
        width: calc(2 * $size + 1 * $margin);
        height: calc(2 * $size + 1 * $margin);

        .grid-item {
            transition: 200ms ease-in-out;
        }

        .grid-item:hover {
            scale: 1.75;
        }
    }
}