.hello-everyone {
    display: flex;
    flex-direction: row;
    padding-top: 42.6px;
    padding-bottom: 0;
    min-height: 550px;

    .section-title {
        font-size: 4rem;
        font-weight: 100;
        font-family: 'Mina', sans-serif;
    }

    .containerA {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .boxA {
        display: flex;
        width: 100%;
        background-color: rgba(60, 60, 60, .7);
    }

    .side-boxA {
        width: 100%;
        height: 100px;
        background-color: rgba(60, 60, 60, .7);
        margin-top: 100px;
    }

    .profile {
        min-width: 200px;
        height: 200px;
        margin-top: 50px;
        padding: 1rem;
        background-color: #969696;


        img {
            width: 100%;
            height: 100%;
        }
    }

    .containerB {
        display: flex;
        flex-direction: column;
        width: 70%;
        background-image: url('../img/svg/globe-no-bg.svg');
        background-position: center;
        background-size: cover;
    }

    .boxB {
        width: 100%;
    }

    .boxB:first-child {
        //min-height: 100px;
        background-color: transparent;
        padding: 2rem;
    }

    .boxB:nth-child(2) {
        //min-height: 100px;
        background-color: rgba(60, 60, 60, .7);
        padding: 1rem 2rem;

        h3 {
            font-family: 'Mina', sans-serif;
            font-size: 2rem;
            color: white;
        }

        h3:nth-child(2) {
            font-family: 'Mina', sans-serif;
            font-size: 1.5rem;
            margin-bottom: 1.25rem;
            color: white;
        }

        .icon:hover {
            color: black;
        }
    }

    .boxB:last-child {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 500%;
        padding-bottom: 4rem;
        padding: 2rem;

        .icon {
            color: black;
        }

        .icon:hover {
            color: red;
        }
    }

    .boxC {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(60, 60, 60, .7);

        ul {
            list-style: none;

            li {
                font-family: 'Mina', sans-serif;
                color: white;
                font-size: 1.35rem;
            }
        }
    }
}

@media only screen and(max-width: 900px) {
    .hello-everyone {
        .containerA {
            display: none;
        }

        .containerB {
            width: 100%;
        }
    }
}

@media only screen and(max-width: 650px) {
    .hello-everyone {
        padding-bottom: 1rem;
    }
}

@media only screen and(max-width: 500px) {
    .hello-everyone {
        min-height: unset;

        .boxB:nth-child(2) {
            h3 {
                font-size: 1.5rem;
            }

            h3:nth-child(2) {
                font-size: 1.25rem;
                margin-bottom: 1rem;
            }

        }
    }
}