.section {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: background-color 250ms ease-in-out;

    header {
        display: flex;
        align-items: center;
        padding: 0 2rem;

        .section-title {
            font-size: 4rem;
            font-weight: 100;
            font-family: 'Mina', sans-serif;
        }

    }

    main {
        display: flex;
        width: 100%;

        .page {
            display: flex;
            width: 100%;

            section {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 2rem;

                p {
                    max-width: 400px;
                    font-size: 1.075rem;
                    line-height: 1.35rem;
                    transition: color 250ms ease-in-out;
                }

                p:not(p:last-child) {
                    padding-bottom: 1rem;
                }
            }
        }
    }
}

.section-reverse {
    .page {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}


// Section-Title break points
@media only screen and(max-width: 1200px) {
    .section-title {
        font-size: 3.5rem !important;
    }
}

@media only screen and(max-width: 800px) {
    .section-title {
        font-size: 3rem !important;
    }
}

@media only screen and(max-width: 500px) {
    .section-title {
        font-size: 2rem !important;
    }

    .section-title:not(.get-in-touch .section-title) {
        font-weight: 600 !important;
    }
}

@media only screen and(max-width: 350px) {
    .section-title {
        font-size: 1.5rem !important;
    }
}